<p> hello </p>

<% @chairs.each do |chair| %>
<p><b>id: </b> <%= chair.id%>
<p><b>color: </b> <%= chair.color%>
<p><b>chair_type: </b> <%= chair.chair_type%>
<p><b>price: </b> <%= chair.price%>
<hr>
<% end %>
